{% extends 'base.html' %}

{% load static %}
{% block content %}
    <!-- Preloader Start -->
{% include 'customernavbar.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
    <div class="our-services section-pad-t30">
    <body class="w3-light-grey" >
        <div class="w3-content w3-margin-top" style="max-width:1400px;">
            <div class="w3-row-padding">                         
              <div class="w3-third">
                <div class="w3-white w3-text-grey w3-card-4">
                  <div class="w3-display-container">
                    <img src="{{ list.foto.url }}" style="width:100%" alt="Avatar"> -
                    <div class="w3-display-bottomleft w3-container w3-text-black">
                        <h2>{{list.nama}}</h2>                    
                    </div>
                  </div>
                  <div class="w3-container">
                    <hr>
                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Motivasi Hidup</b></p><br>
                    <h4> Kalo nemu bug/error,,, bertanyalah dan ceritakan pada yang lain biar mereka ikutan pusing. Berbagi error itu indah, Percayalah!!</h4>
                    <br>
                  </div>
                  <div class="w3-container">
                    <hr>
                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skill / Kemampuan</b></p><br>
                    <h4> => contohnya Adobe Photoshop</h4>
                    <h4> => contoh lagi Adobe Ilustrator</h4>
                    <h4> => Adobe Adobe lainnya</h4>
                    <br>
                  </div>
                </div><br>
              </div>
              <div class="w3-twothird">
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>PORTOFOLIO</h2>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>Nama Lengkap</b></h5>
                    <h4>{{list.nama}}</h4>
                    <hr>
                  </div>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>Nomer Aktif</b></h5>
                    <h4>{{list.nohp}}</h4>
                    <hr>
                  </div>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>Alamat</b></h5>
                    <h4>{{list.alamat}}</h4>
                    <hr>
                  </div>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>Jenis Kelamin</b></h5>
                    <h4>----???----</h4>
                    <hr>
                  </div>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>Usia</b></h5>
                    <h4>{{list.usia}}</h4>
                    <hr>
                  </div>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>Biaya</b></h5>
                    <h4>{{list.biaya}}</h4>
                    <hr>
                  </div>
                </div>
                <div class="w3-container w3-card w3-white">
                  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>PRESTASI</h2>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>Link Youtube</b></h5>
                    <h4>{{list.link}}</h4>
                    <hr>
                  </div>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>Foto Bukti Kemampuan</b></h5>
                    <p>----???----</p>
                    <hr>
                  </div>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>Catatan Kemampuan</b></h5>
                    <p>-mau ngisi kelebihan apa lagi-</p><br>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- End Page Container -->
          </div>
        

{% endblock %}