{% extends 'style.html' %}
{% load static %}
{% block content %}
<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Registration Form Guru</h2>
                </div>
                <div class="card-body">
                    
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="name">Name</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-8">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="nama">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Alamat</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="alamat">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Biaya</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-4">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="number" name="biaya">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="form-row">
                            <div class="name">Nomor HP</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="number" name="nohp">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Umur</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-4">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="number" name="usia">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="gender"
                              id="inlineRadio1"
                              value="L"
                            />
                            <div class="name">Pria</div>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="gender"
                              id="inlineRadio1"
                              value="P"
                            />
                            <div class="name">Wanita</div>
                        </div>
                        <div class="form-row">
                            <div class="name">Link Media (Youtube)</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="link">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Catatan</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="catatan">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Foto</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-8">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="file" id="image" name="image" accept="image/*">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">portofolio</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-8">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="file" id="document" name="document" accept="document/*">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-row m-b-55">
                            <div class="name">Usia</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="usia">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="form-row p-t-20">
                            <label class="label label--block">mengampu</label>
                            <div class="p-t-15">
                                <label class="radio-container m-r-55">SD
                                    <input type="radio" checked="checked" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container m-r-55">SMP
                                    <input type="radio" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">SMA
                                    <input type="radio" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div> 
                        <div class="form-row m-b-55">
                            <div class="name">Mapel</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="first_name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name">Phone</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-9">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="phone">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="form-row">
                            <div class="name">Subject</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="subject">
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>Subject 1</option>
                                            <option>Subject 2</option>
                                            <option>Subject 3</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row p-t-20">
                            <label class="label label--block">Are you an existing customer?</label>
                            <div class="p-t-15">
                                <label class="radio-container m-r-55">Yes
                                    <input type="radio" checked="checked" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">No
                                    <input type="radio" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div> -->
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}