{% extends 'base.html' %}

{% load static %}
{% block content %}
{% include 'dashboardnavbar.html' %}

    <main>        
        <div class="our-services section-pad-t30" style="background-color: rgb(206, 236, 236);">            
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <h2>KATEGORI ASAH SKILL </h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-contnet-center">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30" style="background-color: rgb(219, 192, 228);">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap" >
                               <h5><a href="#realcoba"> Olahraga</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30"  style="background-color: rgb(219, 192, 228);">
                            <div class="services-ion">
                                <span class="flaticon-cms"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="#islami">Islami</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30" style="background-color: rgb(219, 192, 228);">
                            <div class="services-ion">
                                <span class="flaticon-report"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="#lesprivatmusik">Musik</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30" style="background-color: rgb(219, 192, 228);">
                            <div class="services-ion">
                                <span class="flaticon-report"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="#lesprivatsd">Les Privat SD</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30" style="background-color: rgb(219, 192, 228);">
                            <div class="services-ion">
                                <span class="flaticon-report"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="#lesprivatsmp">Les Privat SMP</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30" style="background-color: rgb(219, 192, 228);">
                            <div class="services-ion">
                                <span class="flaticon-report"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="#lesprivatsma">Les Privat SMA</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30" style="background-color: rgb(219, 192, 228);">
                            <div class="services-ion">
                                <span class="flaticon-app"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="#art">Art</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30" style="background-color: rgb(219, 192, 228);">
                            <div class="services-ion">
                                <span class="flaticon-high-tech"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="#it">Tekhnologi Informasi</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30" style="background-color: rgb(219, 192, 228);">
                            <div class="services-ion">
                                <span class="flaticon-helmet"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="#jasatukang">Konstruksi</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30" style="background-color: rgb(219, 192, 228);">
                            <div class="services-ion">
                                <span class="flaticon-real-estate"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="#jasaketerampilan">Keterampilan</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30" style="background-color: rgb(219, 192, 228);">
                            <div class="services-ion">
                                <span class="flaticon-content"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="#jasasawah">Jasa Sawah</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30" style="background-color: rgb(219, 192, 228);">
                            <div class="services-ion">
                                <span class="flaticon-content"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="#jasataman">Jasa Taman</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- konten-->
            <div id="realcoba" class="our-services section-pad-t30" style="background-color: rgb(218, 184, 164);">
                <div class="container" style="background-color: cornsilk;">
                    <div class="dropdown-divider"></div>
                    <h2 class="text-center" style="font-weight-bold"> Kategori OLahraga </h2>
                    <div class="dropdown-divider"></div>
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="job-tittle job-tittle2">
                                        <h3>1. Silat</h3>
                                        <H5> Pencak silat merupakan olahraga beladiri yang mengandung nilai-nilai seni tradisional dari Indonesia. Pencak silat adalah gerak keindahan dengan menghindar yang disertakan gerakan. Pencak silat tidak hanya dikenal di Indonesia, tapi juga dikenal luas negara-negara di kawasan Asia Tenggara</h5>
                                        <br>
                                        <h3>2. Renang</h3>
                                        <h5>Renang adalah gerakan berpindah tempat secara teratur di air dengan cepat menggunakan tangan dan kaki. Renang menjadi salah satu cabang olahraga yang dilombakan sejak Olimpiade Athena 1896</h5>
                                        <br>
                                        <h3>3. Basket</h3>
                                        <h5>Pengertian Bola Basket adalah olahraga yang dilakukan secara berkelompok dan dimainkan oleh dua tim yang berlawanan. Masing-masing tim memiliki 5 orang anggota. Setiap tim harus berusaha mencetak poin sebanyak-banyaknya dengan cara memasukkan bola ke dalam ring lawan</h5>
                                        <br>  
                                        <h3>4. Tenis Meja</h3>
                                        <h5>Tenis meja adalah cabang olahraga yang dilakukan oleh dua orang pemain (tunggal) atau dua pasang pemain (ganda) secara berhadapan dengan menggunakan bola kecil, bet dari kayu yang dilapisi karet, dan lapangan permainan berupa meja</h5>
                                        <br>
                                        <h3>5. Voli</h3>
                                        <h5>Pengertian bola voli adalah suatu cabang olah raga yang dimainkan oleh dua group yang saling berlawanan dimana setiap group memiliki enam orang pemain. Antar lapangan kedua group/ tim tersebut dibatasi oleh sebuah net penghalang dengan ketinggian tertentu.</h5>
                                </div>
                            </div> 
                        </div>
                </div>
            </div>
            <div id="islami" class="our-services section-pad-t30" style="background-color: #cbe0d9;;">
                <div class="container" style="background-color: rgb(188, 219, 213)">
                    <div class="dropdown-divider"></div>
                    <h2 class="text-center" style="font-weight-bold"> Kategori Islami </h2>
                    <div class="dropdown-divider"></div>
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="container">
                                <div class="job-tittle job-tittle2">
                                <h3>1. Hadroh</h3>
                                <h5>Hadroh adalah alat musik rebana yang di mainkan untuk mengiringi pembacaan sholawat ataupun syair-syair islami. Hadroh adalah salah satu kesenian islami yang banyak digandrungi masyarakat khususnya di kalangan remaja.
                                Irama tabuhan rebana yang merdu dan khas membuat lantunan sholawat yang diiringi menjadi terasa syahdu dan menggetarkan jiwa.</h5>
                                <br>
                                <h3>2. Membaca Al-Quran</h3>
                                <h5>Al Quran merupakan kitab suci umat islam yang diturunkan kepada baginda Nabi Muhammad SAW. Membaca Al Quran banyak memberikan manfaat karena di dalamnya terdapat petunjuk hidup di dunia</h5>
                                <br>
                                <h3>3. Ceramah</h3>
                                <h5>Pengertian ceramah adalah pidato oleh seseorang di hadapan banyak pendengar mengenai suatu hal, pengetahuan, dan sebagainya.Adapun orang yang memberikan ceramah disebut penceramah. Penceramah haruslah orang dengan ilmu pengetahuan dan wawasan luas atau merupakan pakar yang menguasai bidang dan informasi terkait</h5>
                                <br>
                                <h3>4. Tilawati</h3>
                                <h5>Tilawatil Al Quran sering dilakukan terutama oleh para Qori’ dan Qori’ah untuk melantunkan ayat-ayat Al Quran dengan nada yang indah dan bacaan yang benar. Tilawatil sendiri adalah melantunkan ayat Al Quran dengan menggunakan nada atau irama yang indah dan dibaca sesuai dengan makhrojnya</h5>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="lesprivatmusik" class="our-services section-pad-t30" style="background-color: rgb(247, 220, 132);">
                <div class="container" style="background-color: rgb(231, 222, 191)">
                    <div class="dropdown-divider"></div>
                    <h2 class="text-center" style="font-weight-bold"> Kategori Les Privat Musik</h2>
                    <div class="dropdown-divider"></div>
                    <div class="single-job-items mb-30">
                        <div class="container">
                            <div class="job-tittle job-tittle2">
                                <div class="job-items"></div>
                                <h3>1. Vokal</h3>
                                <h5>Teknik Vokal adalah cara untuk memproduksi suara yang baik dan efisien, sehingga suara yang keluar terdengar jelas, indah, merdu, nyaring dan tentu memiliki nilai teknik dalam bernyanyi</h5>
                                <br>
                                <h3>2. Piano</h3>
                                <h5>Piano adalah alat musik tuts yang diklasifikasikan sebagai instrumen dawai dan perkusi yang dimainkan dengan menekan tuts-tuts pada papan piano. Setiap tuts tersambung ke palu yang ada di dalam piano dan menekan senar di dalamnya, sehingga menghasilkan bunyi</h5>
                                <br>
                                <h3>3. Gitar</h3>
                                <h5>Gitar adalah sebuah alat musik berdawai yang dimainkan dengan cara dipetik, umumnya menggunakan jari maupun plektrum</h5>                                
                                <br>
                                <h3>4. Drum Bass</h3>
                                <h5>Drum bass merupakan instrumen drum dalam keluarga instrumen musik perkusi dengan diameter berukuran besar untuk menghasilkan suara dalam intonasi nada rendah</h5>                                
                                <br>
                                <h3>5. Biola</h3>
                                <h5>Biola adalah sebuah alat musik dawai yang dimainkan dengan cara digesek. Biola memiliki empat senar (G-D-A-E) yang disetel berbeda satu sama lain dengan interval sempurna kelima</h5>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="lesprivatsd" class="our-services section-pad-t30" style="background-color: rgb(238, 164, 130);">
                <div class="container" style="background-color: rgb(238, 197, 178)">
                    <div class="dropdown-divider"></div>
                    <h2 class="text-center" style="font-weight-bold"> Kategori Les Privat SD</h2>
                    <div class="dropdown-divider"></div>
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="container">
                                <div class="job-tittle job-tittle2">
                                    <h3>1. IPA</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim at voluptas inventore vel rerum, nemo laboriosam voluptatum dolorum vitae recusandae vero sunt ipsum. Obcaecati adipisci numquam eaque? Cupiditate, iure excepturi?</p>
                                    <br>
                                    <h3>2. IPS</h3>
                                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere vel quod deserunt dolore, praesentium corrupti harum? Saepe labore tenetur dolorem repellendus, aspernatur itaque minus assumenda necessitatibus omnis illo id.</P>
                                    <br>
                                    <h3>3. Matematika</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio tenetur iusto, commodi molestias totam aliquid veniam reprehenderit corporis cupiditate officia rem non harum voluptates sint incidunt eum error, accusantium illum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="lesprivatsmp" class="our-services section-pad-t30" style="background-color: rgb(236, 169, 167);">
                <div class="container" style="background-color: rgb(214, 192, 191)">
                    <div class="dropdown-divider"></div>
                    <h2 class="text-center" style="font-weight-bold"> Kategori Les Privat SMP</h2>
                    <div class="dropdown-divider"></div>
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="container">
                                <div class="job-tittle job-tittle2">
                                    <h3>1. Fisika</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim at voluptas inventore vel rerum, nemo laboriosam voluptatum dolorum vitae recusandae vero sunt ipsum. Obcaecati adipisci numquam eaque? Cupiditate, iure excepturi?</p>
                                    <br>
                                    <h3>2. Kimia</h3>
                                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere vel quod deserunt dolore, praesentium corrupti harum? Saepe labore tenetur dolorem repellendus, aspernatur itaque minus assumenda necessitatibus omnis illo id.</P>
                                    <br>
                                    <H3>3. Biologi</H3>
                                    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui saepe ratione illo animi facilis recusandae accusamus fugit tempore vitae deleniti totam eum, voluptatem eius odit iste nisi distinctio perferendis architecto!</P>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="lesprivatsma" class="our-services section-pad-t30" style="background-color: rgb(118, 135, 189);">
                <div class="container" style="background-color: rgb(168, 184, 235)">
                    <div class="dropdown-divider"></div>
                    <h2 class="text-center" style="font-weight-bold"> Kategori Les Privat SMA</h2>
                    <div class="dropdown-divider"></div>
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="container">
                                <div class="job-tittle job-tittle2">
                                    <h3>1. SAINTEK</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim at voluptas inventore vel rerum, nemo laboriosam voluptatum dolorum vitae recusandae vero sunt ipsum. Obcaecati adipisci numquam eaque? Cupiditate, iure excepturi?</p>
                                    <br>
                                    <h3>2. SOSHUM</h3>
                                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere vel quod deserunt dolore, praesentium corrupti harum? Saepe labore tenetur dolorem repellendus, aspernatur itaque minus assumenda necessitatibus omnis illo id.</P>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="art" class="our-services section-pad-t30" style="background-color: rgb(119, 231, 153);">
                <div class="container" style="background-color: rgb(169, 233, 188)">
                    <div class="dropdown-divider"></div>
                    <h2 class="text-center" style="font-weight-bold"> Kategori Kesenian</h2>
                    <div class="dropdown-divider"></div>
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="container">
                                <div class="job-tittle job-tittle2">
                                <h3>1. Tari</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni id nostrum explicabo mollitia. Nemo iure quisquam, magni, dicta, praesentium ex sed at in beatae incidunt autem reiciendis natus itaque hic.</p>
                                <br>
                                <h3>2. Lagu Daerah</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit natus ratione nihil nulla quisquam iure et obcaecati magni repellat asperiores sint error deleniti, consequuntur nisi id, alias qui aut? Id.</p>
                                <br>
                                <h3>3. Alat Musik Daerah</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quia, omnis repellendus atque necessitatibus molestiae molestias impedit assumenda, placeat dignissimos corrupti odit quis numquam. Corrupti distinctio dolor ipsum! Alias, quos!</p>
                                <br>
                                <h3>4. Bahasa Daerah</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas minima unde minus saepe voluptate. Deserunt perspiciatis voluptatibus aut quis, ipsum soluta illum quia magnam nemo ea, iusto facilis maxime nostrum?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="it" class="our-services section-pad-t30" style="background-color: rgb(55, 79, 131);">
                <div class="container" style="background-color: rgb(143, 159, 192)">
                    <div class="dropdown-divider"></div>
                    <h2 class="text-center" style="font-weight-bold"> Kategori Teknologi Informasi</h2>
                    <div class="dropdown-divider"></div>
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="container">
                                <div class="job-tittle job-tittle2">
                                    <h3>1. Backend</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim at voluptas inventore vel rerum, nemo laboriosam voluptatum dolorum vitae recusandae vero sunt ipsum. Obcaecati adipisci numquam eaque? Cupiditate, iure excepturi?</p>
                                    <br>
                                    <h3>2. Frontend</h3>
                                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere vel quod deserunt dolore, praesentium corrupti harum? Saepe labore tenetur dolorem repellendus, aspernatur itaque minus assumenda necessitatibus omnis illo id.</P>
                                    <br>
                                    <h3>3. AI</h3>
                                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere vel quod deserunt dolore, praesentium corrupti harum? Saepe labore tenetur dolorem repellendus, aspernatur itaque minus assumenda necessitatibus omnis illo id.</P>
                                    <br>
                                    <h3>4. Database</h3>
                                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere vel quod deserunt dolore, praesentium corrupti harum? Saepe labore tenetur dolorem repellendus, aspernatur itaque minus assumenda necessitatibus omnis illo id.</P>
                                    <br>
                                    <h3>5. Jaringan</h3>
                                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere vel quod deserunt dolore, praesentium corrupti harum? Saepe labore tenetur dolorem repellendus, aspernatur itaque minus assumenda necessitatibus omnis illo id.</P>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="jasatukang" class="our-services section-pad-t30" style="background-color: rgb(201, 105, 105);">
                <div class="container" style="background-color: rgb(197, 135, 135)">
                    <div class="dropdown-divider"></div>
                    <h2 class="text-center" style="font-weight-bold"> Kategori Jasa Tukang</h2>
                    <div class="dropdown-divider"></div>
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="container">
                                <div class="job-tittle job-tittle2">
                                    <h3>1. SAINTEK</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim at voluptas inventore vel rerum, nemo laboriosam voluptatum dolorum vitae recusandae vero sunt ipsum. Obcaecati adipisci numquam eaque? Cupiditate, iure excepturi?</p>
                                    <br>
                                    <h3>2. SOSHUM</h3>
                                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere vel quod deserunt dolore, praesentium corrupti harum? Saepe labore tenetur dolorem repellendus, aspernatur itaque minus assumenda necessitatibus omnis illo id.</P>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="jasaketerampilan" class="our-services section-pad-t30" style="background-color: rgb(146, 133, 194);">
                <div class="container" style="background-color: rgb(171, 163, 199)">
                    <div class="dropdown-divider"></div>
                    <h2 class="text-center" style="font-weight-bold"> Kategori Jasa Keterampilan</h2>
                    <div class="dropdown-divider"></div>
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="container">
                                <div class="job-tittle job-tittle2">
                                    <h3>1. Menjahit</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim at voluptas inventore vel rerum, nemo laboriosam voluptatum dolorum vitae recusandae vero sunt ipsum. Obcaecati adipisci numquam eaque? Cupiditate, iure excepturi?</p>
                                    <br>
                                    <h3>2. Memasak</h3>
                                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere vel quod deserunt dolore, praesentium corrupti harum? Saepe labore tenetur dolorem repellendus, aspernatur itaque minus assumenda necessitatibus omnis illo id.</P>
                                    <br>
                                    <h3>3. Merajut</h3>
                                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere vel quod deserunt dolore, praesentium corrupti harum? Saepe labore tenetur dolorem repellendus, aspernatur itaque minus assumenda necessitatibus omnis illo id.</P>
                                    <br>
                                    <h3>4. Merias</h3>
                                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere vel quod deserunt dolore, praesentium corrupti harum? Saepe labore tenetur dolorem repellendus, aspernatur itaque minus assumenda necessitatibus omnis illo id.</P>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="jasasawah" class="our-services section-pad-t30" style="background-color: rgb(106, 204, 97);">
                <div class="container" style="background-color: rgb(140, 211, 135)">
                    <div class="dropdown-divider"></div>
                    <h2 class="text-center" style="font-weight-bold"> Kategori Jasa Sawah</h2>
                    <div class="dropdown-divider"></div>
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="container">
                                <div class="job-tittle job-tittle2">
                                    <h3>1. SAINTEK</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim at voluptas inventore vel rerum, nemo laboriosam voluptatum dolorum vitae recusandae vero sunt ipsum. Obcaecati adipisci numquam eaque? Cupiditate, iure excepturi?</p>
                                    <br>
                                    <h3>2. SOSHUM</h3>
                                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere vel quod deserunt dolore, praesentium corrupti harum? Saepe labore tenetur dolorem repellendus, aspernatur itaque minus assumenda necessitatibus omnis illo id.</P>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="jasataman" class="our-services section-pad-t30" style="background-color: rgb(108, 156, 168);">
                <div class="container" style="background-color: rgb(168, 221, 235)">
                    <div class="dropdown-divider"></div>
                    <h2 class="text-center" style="font-weight-bold"> Kategori Jasa Tukang Taman</h2>
                    <div class="dropdown-divider"></div>
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="container">
                                <div class="job-tittle job-tittle2">
                                    <h3>1. SAINTEK</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim at voluptas inventore vel rerum, nemo laboriosam voluptatum dolorum vitae recusandae vero sunt ipsum. Obcaecati adipisci numquam eaque? Cupiditate, iure excepturi?</p>
                                    <br>
                                    <h3>2. SOSHUM</h3>
                                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere vel quod deserunt dolore, praesentium corrupti harum? Saepe labore tenetur dolorem repellendus, aspernatur itaque minus assumenda necessitatibus omnis illo id.</P>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="online-cv cv-bg section-overly pt-90 pb-120"  data-background="{% static 'assets/img/gallery/cv_bg.jpg' %}">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                            <div class="cv-caption text-center">
                                <p class="pera2"> Bergabunglah Bersama Kami Untuk Berbagi Pengalaman</p>
                                <a href="{% url 'register' %}" class="border-btn2 border-btn4">DAFTAR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </main>


            <!-- Footer Start-->
    <footer>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex justify-content-between align-items-center">
                         <div class="col-xl-10 col-lg-10 ">
                             <div class="footer-copy-right">
                                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                         <div class="col-xl-2 col-lg-2">
                             <div class="footer-social f-right">
                                 
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
        
{% endblock %}